/** @format */

.landing {
  padding: 0;
  margin: 0;
  height: auto;
  /* background:red */
}
/* hero */
.hero_wrapper {
  position: relative;
  top: -20px;
  width: 100vw;
  height: 100vh;
  padding-left: 5vw;
  color: var(--white);
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 10, 59, 0.448),
      rgba(6, 0, 59, 0.889)
    ),
    url("../img/Banking-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_content {
  width: 40vw;
  height: 50vh;
  margin-top: 10rem;
}

.hero_content h2 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: start;
  line-height: 1;
  text-transform: capitalize;
  flex: 1;
}

.hero_content p {
  font-size: 25px;
  padding: 0;
  margin: 15px 0 0 0;
  flex: 2;
}

.hero_content span {
  /* border: 1px solid red; */
  flex: 2;
}

.hero_content span button {
  background-color: var(--primary-blue);
  color: var(--white);
  width: 150px;
  height: 60px;
  font-size: 20px;
  border: none;
  margin: 30px 10px 10px 0px;
  text-transform: capitalize;
  border-radius: 50px;
}
.hero_content span button a {
  text-decoration: none;
  color: var(--white);
}

/* content */
.content_wrapper {
  width: 85vw;
  margin: 0 auto;
}

.col {
  position:relative;
  min-height: 15rem;
  font-size: 20px;
  padding: 5rem 6rem;

}
.col:nth-of-type(2)::before {
  position: absolute;
  content: '';
  width:100%;
  height: 100%;
  background:linear-gradient(45deg,rgb(249, 210, 210),rgb(201, 201, 255));
  border-radius: 10px;
  /* border: 1px solid red; */
  z-index: -1;

}
.col img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(55, 55, 55, 0.452);
}
.col h1 {
  font-size: 30px;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.col p {
  text-align: justify;
  font-size: 18px;
  line-height: 2;
  
}

@media (max-width: 1250px) {
  /* hero */
  .hero_content {
    width: 60vw;
    height: 50vh;
    margin-top: 10rem;
  }

  /* content */
  .content_wrapper {
    width: 90vw;
  }

  .col {
    padding: 5rem 1rem;
  }
}

@media (max-width: 900px) {
  /* hero */
  .hero_wrapper {
    position: relative;
    top: -20px;
    width: 100vw;
    height: 100vh;
  }

  .hero_content {
    width: 80vw;
    height: 50vh;
    margin-top: 10rem;
  }
}
@media (max-width: 650px) {
  /* hero */
  .hero_wrapper {
    position: relative;
    top: -15px;
  }
  .hero_content {
    width: 90vw;
    height: 50vh;
    margin-top: 5rem;
  }
  .hero_content h2 {
    font-size: 40px;
  }

  .hero_content p {
    font-size: 25px;
    padding: 0;
    margin: 5px 0 0 0;
    flex: 2;
  }

  .hero_content span button {
    width: 150px;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
  }

  @media (max-width: 500px) {
    /* content */
    .col {
      padding: 10px;
    }
    .col h1 {
      font-size: 20px;
    }
    .col p {
      font-size: 15px;
    }
  }
}
