/** @format */

.login_wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(0, 7, 78, 0.596), rgba(0, 0, 111, 0.517)),
    url("../img/3ds.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 33rem;
  margin-left: 15rem;
  background-color: rgba(121, 121, 255, 0.368);
  box-shadow: 1px 1px 20px rgb(0, 4, 82);
}
.login_form p {
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
}

.form_input {
  position: relative;
  width: 80%;
  height: 45px;
  margin: 5px 0;
  padding-left: 10px;
  border: 1.5px solid rgba(102, 128, 253, 0.926);
  background-color: rgba(121, 121, 251, 0.368);
  color: #fff;
}
.form_input::placeholder {
  text-transform: capitalize;
}

.login_btn {
  width: 80%;
  height: 45px;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 25px 0 15px 0;
  background-color: rgba(159, 191, 245, 0.788);
  font-size: 11px;
  color: #fff;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .login_wrapper {
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
  }
  .login_form {
    width: 27rem;
    height: 25rem;
    margin-left: 0rem;
  }

  .login_btn {
  }
}

@media (max-width: 430px) {
  .login_wrapper {
    height: 100vh;
    background-position: center;
  }

  .login_form {
    width: 100vw;
    height: 100vh;
  }

  .form_input {
    height: 60px;
    border-radius: 0;

    background-color: rgba(104, 104, 255, 0.808);
  }

  .login_btn {
    width: 80%;
    height: 60px;
    font-size: 13px;
  }
}
